############# 公共配置
data/
dev/
trash/
books/
.idea/

*.log
*.csv
*.xls
*.xlsx
*.tar.gz
*.zip

############  python配置
*.pyc


############  c++项目配置
Debug/
Release/
ipch/
x64/

# VS Project files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo


# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.ilk
*.tlog
*.out
*.exe

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.sdf

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

